
    <div class="container">
        <div>
            <button md-button><md-icon svgIcon="portrait" class="add-img"></md-icon></button>
        </div>
        <div class="infos">
            <form class="formulaire">
                <!--<div>
                    <div><md-input placeholder="Nom" [value]='etudiant.nom'></md-input></div>
                    <div><md-input placeholder="Prénom" [value]='etudiant.prenom'></md-input></div>
                    <div><md-input placeholder="Matricule" [value]='etudiant.matricule'></md-input></div>
                </div>
                <div>
                    <div><md-input placeholder="Email" [value]='etudiant.email'></md-input></div>
                    <div><md-input placeholder="Adresse" [value]='etudiant.adress'></md-input></div>
                    <div><md-input placeholder="Tél" [value]='etudiant.tel'></md-input></div>
                  </div>-->
              </form>
            <div class="action">
                <button md-raised-button>Valider</button>
                <button md-raised-button (click)="annuler()">Annuler</button>
            </div>
        </div>
    </div>
