
    <div class="container">
        <div>
            <button md-button><md-icon svgIcon="portrait" class="add-img"></md-icon></button>
        </div>
        <div class="infos">
            <form class="formulaire">
              <!--<div>
                  <div><md-input placeholder="Nom" [value]='enseignant.nom'></md-input></div>
                  <div><md-input placeholder="Prénom" [value]='enseignant.prenom'></md-input></div>
                  <div><md-input placeholder="Email" [value]='enseignant.email'></md-input></div>
              </div>
              <div>
                  <div><md-input placeholder="Adresse" [value]='enseignant.adress'></md-input></div>
                  <div><md-input placeholder="Tél" [value]='enseignant.tel'></md-input></div>
              </div>-->
          </form>
          <div class="action">
              <button md-raised-button>Valider</button>
              <button md-raised-button (click)="annuler()">Annuler</button>
          </div>
      </div>
  </div>
