
    <div class="container">
        <div>
            <button md-button><md-icon svgIcon="portrait" class="add-img"></md-icon></button>
        </div>
        <div class="infos">
            <form class="formulaire">
              <!--<div>
                  <div><md-input placeholder="Nom du module" [value]='programme.nom'></md-input></div>
                  <div><md-input placeholder="Abréviation" [value]='programme.abreviation'></md-input></div>
                  <div><md-input placeholder="Coefficient" [value]='programme.coefficient'></md-input></div>
              </div>
              <div>
                  <div><md-input placeholder="Déscription" [value]='programme.description'></md-input></div>
                  <div><md-input placeholder="Volume horaire" [value]='programme.volumeHoraire'></md-input></div>
              </div>-->
          </form>
          <div class="action">
              <button md-raised-button>Valider</button>
              <button md-raised-button (click)="annuler()">Annuler</button>
          </div>
      </div>
  </div>
